/*.bd-sidebar {
	height: 100vh;
	max-width: 300px;
	padding-left: 0;
	padding-right: 0;
}

.bd-paginator {
	padding: 0 0 0 5px;
	overflow: visible;
}

.bd-paginator-container {
	padding: 6px; 
	width: 100%; 
	height: 100%;
}*/

.btn-left {
	float: left;
}

.btn-right {
	float: right;
}

.btn-text .fas {
	margin-right: 5px;
}

.toolbar {
	float: right; 
	width: 100%; 
	padding-bottom: 3px;
}

.toolbar .btn-left {
	margin-right: 5px;
}

.section-separator {
	width: 1px;
	height: 26px;
	background-color: rgba(0, 0, 0, 0.125);
	float: left;
	margin: 0px 5px 0 0;
}

.fa-plus-square {
	color: #2c8e1b;
}

.fa-pen-square {
	color: #2c8e1b;
}

.fa-minus-square {
	color: #de3b3b;
}

.fa-folder-plus {
	color: #e8c928;
}

.jqx-validator-hint {
	box-sizing: content-box;
}

.jqx-validator-hint-arrow img {
	vertical-align: inherit;
}

.jqx-grid-column-filterbutton {
	background-image: url('../img/icons8-filter-16.png');
}